.particle {
  position: fixed;
  border-radius: 4px;
  z-index: -9999;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(13vw, 61vh, 89px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.69;
  height: 9px;
  width: 9px;
  animation-delay: -0.8s;
  transform: translate3d(45vw, 71vh, 27px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(68vw, 67vh, 61px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.39;
  height: 9px;
  width: 9px;
  animation-delay: -1.6s;
  transform: translate3d(55vw, 30vh, 56px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(11vw, 73vh, 10px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.23;
  height: 6px;
  width: 6px;
  animation-delay: -2.4s;
  transform: translate3d(39vw, 4vh, 84px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(22vw, 21vh, 12px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.62;
  height: 9px;
  width: 9px;
  animation-delay: -3.2s;
  transform: translate3d(80vw, 31vh, 42px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(86vw, 30vh, 2px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.98;
  height: 9px;
  width: 9px;
  animation-delay: -4s;
  transform: translate3d(27vw, 14vh, 74px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(11vw, 86vh, 27px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.21;
  height: 8px;
  width: 8px;
  animation-delay: -4.8s;
  transform: translate3d(33vw, 86vh, 23px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(15vw, 17vh, 22px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.46;
  height: 9px;
  width: 9px;
  animation-delay: -5.6s;
  transform: translate3d(65vw, 70vh, 96px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(64vw, 68vh, 75px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.48;
  height: 8px;
  width: 8px;
  animation-delay: -6.4s;
  transform: translate3d(21vw, 68vh, 2px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(5vw, 44vh, 36px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.55;
  height: 9px;
  width: 9px;
  animation-delay: -7.2s;
  transform: translate3d(69vw, 9vh, 45px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(82vw, 79vh, 1px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.19;
  height: 7px;
  width: 7px;
  animation-delay: -8s;
  transform: translate3d(77vw, 76vh, 9px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(30vw, 29vh, 86px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.89;
  height: 10px;
  width: 10px;
  animation-delay: -8.8s;
  transform: translate3d(48vw, 74vh, 100px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(1vw, 80vh, 61px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 1;
  height: 6px;
  width: 6px;
  animation-delay: -9.6s;
  transform: translate3d(86vw, 72vh, 15px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(81vw, 9vh, 26px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.8;
  height: 7px;
  width: 7px;
  animation-delay: -10.4s;
  transform: translate3d(37vw, 66vh, 24px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(24vw, 82vh, 30px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.27;
  height: 6px;
  width: 6px;
  animation-delay: -11.2s;
  transform: translate3d(45vw, 4vh, 23px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(31vw, 8vh, 19px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.65;
  height: 10px;
  width: 10px;
  animation-delay: -12s;
  transform: translate3d(83vw, 3vh, 78px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(12vw, 1vh, 8px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.76;
  height: 6px;
  width: 6px;
  animation-delay: -12.8s;
  transform: translate3d(48vw, 18vh, 71px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(38vw, 61vh, 27px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.82;
  height: 9px;
  width: 9px;
  animation-delay: -13.6s;
  transform: translate3d(38vw, 79vh, 52px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(23vw, 72vh, 78px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.83;
  height: 10px;
  width: 10px;
  animation-delay: -14.4s;
  transform: translate3d(65vw, 58vh, 58px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(5vw, 8vh, 22px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.94;
  height: 7px;
  width: 7px;
  animation-delay: -15.2s;
  transform: translate3d(66vw, 33vh, 92px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(2vw, 18vh, 17px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.5;
  height: 10px;
  width: 10px;
  animation-delay: -16s;
  transform: translate3d(55vw, 89vh, 80px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(72vw, 14vh, 33px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.42;
  height: 7px;
  width: 7px;
  animation-delay: -16.8s;
  transform: translate3d(44vw, 14vh, 9px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(75vw, 12vh, 99px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.85;
  height: 9px;
  width: 9px;
  animation-delay: -17.6s;
  transform: translate3d(23vw, 80vh, 46px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(73vw, 35vh, 2px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.32;
  height: 6px;
  width: 6px;
  animation-delay: -18.4s;
  transform: translate3d(41vw, 33vh, 82px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(42vw, 37vh, 40px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.53;
  height: 6px;
  width: 6px;
  animation-delay: -19.2s;
  transform: translate3d(10vw, 68vh, 24px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(14vw, 43vh, 85px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.55;
  height: 8px;
  width: 8px;
  animation-delay: -20s;
  transform: translate3d(46vw, 9vh, 19px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(54vw, 3vh, 72px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.98;
  height: 9px;
  width: 9px;
  animation-delay: -20.8s;
  transform: translate3d(3vw, 26vh, 5px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(51vw, 78vh, 23px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.8;
  height: 9px;
  width: 9px;
  animation-delay: -21.6s;
  transform: translate3d(8vw, 73vh, 15px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(10vw, 8vh, 14px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.35;
  height: 8px;
  width: 8px;
  animation-delay: -22.4s;
  transform: translate3d(30vw, 63vh, 90px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(43vw, 57vh, 5px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.67;
  height: 10px;
  width: 10px;
  animation-delay: -23.2s;
  transform: translate3d(1vw, 17vh, 12px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(1vw, 5vh, 22px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.1;
  height: 8px;
  width: 8px;
  animation-delay: -24s;
  transform: translate3d(56vw, 82vh, 75px);
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

/*# sourceMappingURL=particula.css.map */
