@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500;600;700;900&family=Pacifico:wght@400&display=swap');

:root {
  --color-escuro: #0f0f0f;
  --color-cinzento: #b7b7b7;
  --color-branco: #ffffff;
  --color-claro: #f5f8f9;
  --color-indigo: #5b42f3;
  --color-roxo: #8640ff;
  --color-vermelho: #ff0044;
  --color-verde: #45b817;
  --color-azul: #0044ff;
  --color-azul-claro: #00ddeb;
  --color-amarelo: #fdc714;
  --gradiente-roxo: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  object-fit: contain;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--color-escuro);
  background-color: var(--color-claro);
  overflow-x: hidden;
}

textarea {
  min-height: 64px;
  max-height: 128px;
}

a {
  text-decoration: none;
  color: var(--color-azul);
}

#habilidades img {
  mix-blend-mode: normal;
  filter: grayscale(100%); 
  mix-blend-mode: lighten;
  transition: mix-blend-mode 0s !important;
}

#habilidades #javaIcone {
  filter: grayscale(100%) brightness(1.3); 
}

#habilidades #gitIcone {
  filter: grayscale(100%) brightness(1.1); 
}

#habilidades section:hover img, #habilidades section:hover #javaIcone, #habilidades section:hover #gitIcone   {
  filter: grayscale(0%) drop-shadow(0px 0px 1px black); 
  mix-blend-mode: normal; 
}

footer a {
  color: var(--color-branco);
  transition: all 0.3s ease-in-out !important;
}

footer a:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

form input::placeholder, form textarea::placeholder {
  color: var(--color-cinzento);
}

form input:focus, form textarea:focus, form select:focus {
  outline: var(--color-indigo) solid 1px;
}

.big {
  transform: scale(1.1) !important;
}

.experiencia-image-collection {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
}

.experiencia-image-collection img {
  width: 100%;
  object-fit: cover;
  grid-row: 1/3;
}

.experiencia-image-collection img:first-child {
  grid-column: 1/4;
  transform: scale(1);
}

.experiencia-image-collection img:nth-child(2) {
  grid-column: 8/11;
  transform: scale(1);
}

.experiencia-image-collection img:nth-child(3) {
  grid-column: 4/8;
  transform: scale(0.9);
}


#menu_content {
  width: 10rem;
  top: 50px;
  right: 5px;
  z-index: 1000;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  transform: translateY(-20px) translateX(5px) scale(0.9);
  pointer-events: none;
}

#menu_content a:hover {
  background-color: var(--color-claro);
}

#show_menu:checked~#menu_content {
  opacity: 1;
  pointer-events: auto;
  transform: translate(0) scale(1);
}

.toggle {
  width: 20px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition-duration: .5s;
  cursor: pointer;
}

.bars {
  width: 100%;
  height: 2px;
  background-image: var(--gradiente-roxo);
  border-radius: 15px;
}

#barra_meio {
  transition-duration: 0.5s;
}

#show_menu:checked+.toggle .bars {
  position: absolute;
}

#show_menu:checked+.toggle #barra_meio {
  transform: scaleX(0);
  transition-duration: 0.2s;
}

#show_menu:checked+.toggle #barra_cima {
  transform: rotate(45deg);
}

#show_menu:checked+.toggle #barra_baixo {
  transform: rotate(-45deg);
}

#show_menu:checked+.toggle {
  transform: rotate(180deg);
}

/** BG - Personalizados */

.bg-escuro {
  background-color: var(--color-escuro);
}

.bg-branco {
  background-color: var(--color-branco);
}

.bg-claro {
  background-color: var(--color-claro);
}

.bg-especial {
  background-image: var(--gradiente-roxo);
}

.bg-principal {
  background-color: var(--color-azul);
}

.bg-cinzento {
  background-color: var(--color-cinzento);
}

.bg-indigo {
  background-color: var(--color-indigo);
}

.bg-roxo {
  background-color: var(--color-roxo);
}

.bg-verde {
  background-color: var(--color-verde);
}

.bg-azul {
  background-color: var(--color-azul);
}

.bg-amarelo {
  background-color: var(--color-amarelo);
}

/** Texto - Personalizados */

.text-escuro {
  color: var(--color-escuro);
}

.text-cinzento {
  color: var(--color-cinzento);
}

.text-branco {
  color: var(--color-branco);
}

.text-claro {
  color: var(--color-claro);
}

.text-especial {
  width: fit-content;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  background-color: #5B42F3;
  background-image: var(--gradiente-roxo);
}

.text-indigo {
  color: var(--color-indigo);
}

.text-roxo {
  color: var(--color-roxo);
}

.text-verde {
  color: var(--color-verde);
}

.text-azul {
  color: var(--color-azul);
}

.text-azul-claro {
  color: var(--color-azul-claro);
}

.text-amarelo {
  color: var(--color-amarelo);
}

.text-vermelho {
  color: var(--color-vermelho);
}

.text-justify {
  text-align: justify;
}

.text-underline {
  text-decoration: underline;
}

.letter-spacing {
  letter-spacing: 1px;
}

/** Tamanho de fontes - Personalizados */

.fs-bigger {
  font-size: 3.4em;
}

.fs-big {
  font-size: 3em;
}

.fs-small {
  font-size: small;
}

.fs-smaller {
  font-size: smaller;
}

.fs-x-small {
  font-size: x-small;
}

.fw-bolder {
  font-weight: 900;
}

.font-alternative {
  font-family: 'Pacifico', sans-serif;
}

/** Border - Personalizados */

.border-escuro {
  border-color: var(--color-escuro) !important;
}

.border-claro {
  border-color: var(--color-claro) !important;
}

/** Botões - Personalizados */

#menu_portifolio {
  transition: all 0.3s ease-in-out !important;
  border: none;
}

#menu_portifolio:hover {
  transform: scale(1.1);
}

#menu_portifolio:active {
  transform: scale(1.05);
}

.btn-claro {
  background-color: var(--color-branco);
  color: var(--color-escuro);
  letter-spacing: 1px;
  font-weight: 100;
  overflow: hidden;
  transform: scale(1) !important;
}

.btn-claro:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-claro:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--color-escuro);
  border-radius: 50%;
  display: none;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-claro:hover {
  background-color: var(--color-claro);
  color: var(--color-branco);
  border: 1px solid var(--color-escuro);
}

.btn-claro:hover:before {
  top: -35%;
  background-color: var(--color-escuro);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-claro:hover:after {
  top: -45%;
  background-color: var(--color-escuro);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-escuro {
  background-color: var(--color-escuro);
  color: var(--color-claro);
}

.btn-escuro:hover {
  background-color: #191919;
  color: var(--color-claro);
}

.btn-escuro:active {
  background-color: #212528 !important;
  color: var(--color-claro) !important;
}

.btn-default {
  border: none;
  background-image: var(--gradiente-roxo) ;
  color: var(--color-branco) !important;
  transition: all 0.4s ease-out !important;
}

article .btn-default:hover {
  transform: scale(1.1);
}

article .btn-default:active {
  transform: scale(1.05);
}

.btn-default:hover, .btn-default:active {
  border-radius: 4px !important;
}

form .btn-default:hover {
  transform: scale(1.025);
}

/** Keyframes */
@keyframes flip-gradient {
  0% {
    filter: hue-rotate(0deg);
  }
  12.5% {
    filter: hue-rotate(5deg);
  }
  25% {
    filter: hue-rotate(10deg);
  }
  37.5% {
    filter: hue-rotate(5deg);
  }
  50% {
    filter: hue-rotate(0deg);
  }
  62.5% {
    filter: hue-rotate(-5deg);
  }
  75% {
    filter: hue-rotate(-10deg);
  }
  87.5% {
    filter: hue-rotate(-5deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
} 

@keyframes sectionTransition {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.025);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.025);
  }
}

@keyframes floatingLetters {
  0%, 100% {
    transform: translateY(0) scale(0.975);
  }
  50% {
    transform: translateY(-1px) scale(1);
  }
}

/** Texturas HeroPatterns */

.Death-Star {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23212529' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.Hexagons {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23212529' fill-opacity='0.4'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.Cork-Screw {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 .04C2.6.22 4.99 1.1 7 2.5A13.94 13.94 0 0 1 15 0h4c.34 0 .67.01 1 .04v2A12 12 0 0 0 7.17 12h5.12A7 7 0 0 1 20 7.07V14a5 5 0 0 0-3-4.58A5 5 0 0 0 14 14H0V7.07c.86.12 1.67.4 2.4.81.75-1.52 1.76-2.9 2.98-4.05C3.79 2.83 1.96 2.2 0 2.04v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.Papel {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.Papel-escuro {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23212529' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/*: Organização nova */

::-webkit-scrollbar {
  display: none;
}

#inicio {
  min-height: 50vh;
}

#texto_inicio {
  text-align: center;
}

header h3 {
  margin: 0 auto;
  font-weight: 700;
}

header p {
  text-align: center;
  font-weight: 100;
  white-space: nowrap;
}

main {
  margin-bottom: 6rem;
  margin-top: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

section {
  transition: all 0.3s ease-in-out !important;
  border-radius: 5px;
  color: var(--color-branco);
}

section:hover {
  box-shadow: inherit;
  transform: scale(1.025);
}

#projetos section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch; 
}

#projetos section img {
  object-fit: cover;
}

#habilidades section {
  display: flex;
  align-items: center;
}

#habilidades section:hover {
  cursor: pointer;
}

#habilidades section h3 {
  font-weight: 700;
  letter-spacing: 2px;
}

#habilidades section p {
  font-weight: 100;
}

#habilidades article {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#habilidades section img {
  object-fit: cover
}

/*: Meu próprio modal */

.modal-header button {
  color: #3e4249;
}

.modal-header button:hover, .modal-header button:active {
  color: var(--color-escuro);
}


.particle-container {
  transform: translate(-200px, -300px);
}

/** Media Querys */

.max-hd {
  max-width: 720px;
}

.translate-left {
  transform: translateX(0px);
}

/** A partir de SM */

@media screen and (min-width: 576px) {
  nav {
    transform: translateX(30px);
  }
  .fs-bigger {
    font-size: 4em;
  }
  #texto_inicio {
    text-align: center;
    font-size: 20px;
  }
  .particle-container {
    transform: translate(-400px, -300px);
  }
}

@media screen and (min-width: 600px) {
  nav {
    transform: translateX(45px);
  }
}

@media screen and (min-width: 630px) {
  nav {
    transform: translateX(58px);
  }
}

/** A partir de MD */
@media screen and (min-width: 768px) {
  .particle-container {
    transform: translate(-400px, -280px);
  }
}

/** A partir de LG */
@media screen and (min-width: 992px) {
  .particle-container {
    transform: translate(-600px, -380px);
    nav {
      transform: translateX(0px);
    }
  }
}

/** A partir de XL */
@media screen and (min-width: 1200px) {
  .particle-container {
    transform: translate(-600px, -280px);
  }
  nav {
    transform: translateX(58px);
  }
}

/** A partir de XXL */
@media screen and (min-width: 1400px) {
  .particle-container {
    transform: translate(-900px, -250px);
  }
}

@media screen and (max-width: 1060px) and (min-width: 992px) {
  nav {
    transform: translateX(0); /* Define o valor apropriado para evitar a transformação */
  }
}

.section {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}

.section:not(footer) {
  transform: translateY(25px);
}

.section.deactive {
  transform: translateY(-25px);
  opacity: 0;
}

.section.active {
  /* animation: sectionTransition 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s 1 both; */
  transform: translateY(0);
  opacity: 1;
}

header h3 {
  animation: floatingLetters 2s infinite ease-in-out;
}

#meuNome {
  animation: floatingLetters 2s infinite ease-in-out;
}

#role_para_baixo {
  font-size: 2.5em;
  animation: pulse_down 2s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes pulse_down {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes pulse_up {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

#inicio {
  position: relative;
}

#floatElements {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  animation: float 3s ease-in-out infinite;
}

.floatElement {
  position: absolute;
  width: 25px;
  height: 25px;
  background: var(--gradiente-roxo);
  border-radius: 8px;
  display: grid;
  place-items: center;
  color: var(--color-branco);
  font-weight: 900;
  transition: all 0.4s;
}

#floatElement-1 {
  top: 50%;
  left: 5%;
  transform: rotate(-15deg);
  opacity: .6;
}

#floatElement-2 {
  top: 25%;
  right: 5%;
  transform: rotate(15deg);
  opacity: .6;
}

#floatElement-3 {
  top: 40%;
  left: 25%;
  transform: rotate(-30deg) scale(.8);
  opacity: .4;
}

#floatElement-4 {
  top: 15%;
  right: 25%;
  transform: rotate(30deg) scale(.8);
  opacity: .4;
}

#floatElement-5 {
  top: 85%;
  left: 75%;
  transform: rotate(30deg) scale(.8);
  opacity: .4;
}

#floatElement-6 {
  top: 80%;
  right: 75%;
  transform: rotate(45deg) scale(.5);
  opacity: .2;
}

#floatElement-7 {
  top: 45%;
  right: 18%;
  transform: rotate(45deg) scale(.5);
  opacity: .2;
}

#floatElement-8 {
  top: 20%;
  left: 10%;
  transform: rotate(45deg) scale(.5);
  opacity: .2;
}

@keyframes float {
  0% {
    top: 0;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}