@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500;600;700;900');

body {
  font-family: 'Lato', sans-serif;
  color: var(--color-escuro);
  background-color: var(--color-branco);
  overflow-x: hidden;
  transition: background-color 0.8s ease-out;
}

:root {
  --color-escuro: #171717;
  --color-cinzento: #6c757d;
  --color-branco: #f5f5f5;
  --color-preto: #0f0f0f;
  --color-claro: #f0f0f0;
  --color-indigo: #5b42f3;
  --color-roxo: #8640ff;
  --color-vermelho: #ff0044;
  --color-verde: #45b817;
  --color-azul: #0044ff;
  --color-azul-claro: #00ddeb;
  --color-amarelo: #fdc714;
  --gradiente-roxo: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

html {
  scroll-behavior: smooth;
  max-width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  object-fit: contain;
}

#meuNome {
  font-size: 2.8rem;
  cursor: pointer;
}

#meuNome::after {
  margin: auto;
  content: '';
  width: 0%;
  height: 3px;
  background: var(--gradiente-roxo);
  display: block;
  transition: 0.5s;
  border-radius: 4px;
}

#meuNome:hover::after {
  width: 100%;
}

#app {
  filter: saturate(1.5);
}

#blob {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: rotate-blob 15s infinite linear;
  filter: blur(200px) saturate(1.5);
  z-index: 10;
  pointer-events: none;
}

/* .Pattern-claro #blob {
  z-index: -9999;
} */

#blobEl {
  aspect-ratio: 1;
  width: 175px;
  background: var(--gradiente-roxo);
  border-radius: 50%;
}

.Pattern-claro #blobEl {
  background: linear-gradient(to right, #e344ff, #593fff, #00DDEB);
}

.Pattern-escuro #blobEl {
  background: linear-gradient(to right, #3b82f6, #22d3ee, #5eead4);
}

nav {
  position: sticky;
  top: 0;
  filter: none;
  pointer-events: none;
  filter: saturate(1.5);
}

textarea {
  min-height: 64px;
  max-height: 128px;
}

a {
  text-decoration: none;
  color: var(--color-azul);
}

#inicio {
  min-height: 50vh;
  position: relative;
}

#inicioContainer {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

/*: Elementos flutuantes seção inicial */

#floatElements {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* animation: float 3s ease-in-out infinite; */
  /* > Animação suspensa */
  z-index: -1;
}

.floatElement:not(:nth-of-type(1), :nth-of-type(2), :nth-of-type(3), :nth-of-type(4), :nth-of-type(5), :nth-of-type(11)) {
  background: var(--gradiente-roxo);
}

.floatElement {
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
  color: var(--color-branco);
  font-weight: 900;
}

#floatElement-1,
#floatElement-2,
#floatElement-11 {
  opacity: .8;
}

#floatElement-3,
#floatElement-4,
#floatElement-5,
#floatElement-9 {
  opacity: 0.6;
}

#floatElement-6,
#floatElement-7,
#floatElement-8,
#floatElement-10,
#floatElement-12 {
  opacity: 0.4;
}

#floatElement-1 {
  top: 50%;
  left: 5%;
  transform: rotate(-15deg);
}

#floatElement-2 {
  top: 25%;
  right: 5%;
  transform: rotate(15deg);
}

#floatElement-3 {
  top: 40%;
  left: 25%;
  transform: rotate(-30deg) scale(.75);
}

#floatElement-4 {
  top: 15%;
  right: 25%;
  transform: rotate(30deg) scale(.75);
}

#floatElement-5 {
  top: 85%;
  left: 75%;
  transform: rotate(30deg) scale(.75);
}

#floatElement-6 {
  top: 80%;
  right: 75%;
  transform: rotate(45deg) scale(.5);
}

#floatElement-7 {
  top: 45%;
  right: 18%;
  transform: rotate(45deg) scale(.5);
}

#floatElement-8 {
  top: 20%;
  left: 10%;
  transform: rotate(45deg) scale(.5);
}

#floatElement-9 {
  top: 5%;
  left: 25%;
  transform: rotate(10deg) scale(.75);
}

#floatElement-10 {
  top: 10%;
  left: 50%;
  transform: rotate(-35deg) scale(.5);
}

#floatElement-11 {
  bottom: 0;
  left: 38%;
  transform: rotate(35deg);
}

#floatElement-12 {
  bottom: 5%;
  left: 53%;
  transform: rotate(-5deg) scale(.5);
}

/*: Formação */

#experiencia-image-collection {
  grid-template-columns: repeat(10, 1fr);
}

#experiencia-image-collection img {
  grid-row: 1/3;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  filter: grayscale(25%);
}

#experiencia-image-collection img:first-of-type {
  grid-column: 1/4;
  transform: scale(1);
}

#experiencia-image-collection img:nth-of-type(2) {
  grid-column: 8/11;
  transform: scale(1);
}

#experiencia-image-collection img:nth-of-type(3) {
  grid-column: 4/8;
  transform: scale(0.9);
}

#experiencia-image-collection img:nth-of-type(1):hover {
  transform: scale(1.05);
}

#experiencia-image-collection img:nth-of-type(2):hover {
  transform: scale(1.05);
}

#experiencia-image-collection img:nth-of-type(3):hover {
  transform: scale(.92);
}

/** Agora em dipositivos menores */

#experiencia-image-collection-mobile {
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#experiencia-image-collection-mobile img {
  filter: grayscale(25%);
}

#experiencia-image-collection-mobile #tambasa-almoco {
  grid-column: 6/-1;
  grid-row: 1/-1;
  z-index: 4;
}

#experiencia-image-collection-mobile #tambasa-prancheta {
  grid-column: 1/5;
  grid-row: 1/-1;
  transform: scaleX(-1);
  z-index: 4;
}

#experiencia-image-collection-mobile #hackatruck {
  grid-column: 3/8;
  grid-row: 1/-1;
  z-index: 5;
}

/*: Seção de habilidades */

#habilidades img {
  /* mix-blend-mode: normal;
  filter: grayscale(100%);
  mix-blend-mode: lighten;
  transition: mix-blend-mode 0s !important; */
  filter: grayscale(0%) drop-shadow(0px 0px 1px black);
}

/* #habilidades #javaIcone {
  filter: grayscale(100%) brightness(1.3);
}

#habilidades #gitIcone {
  filter: grayscale(100%) brightness(1.1);
} */

/* #habilidades section:hover img,
#habilidades section:hover #javaIcone,
#habilidades section:hover #gitIcone {
  filter: grayscale(0%) drop-shadow(0px 0px 1px black);
  mix-blend-mode: normal;
} */

/*: Footer */

footer a {
  color: #f5f5f5;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

footer a:hover {
  cursor: pointer;
  transform: translateY(-2px);
  filter: drop-shadow(0px 0px 2px white) brightness(2);
}

footer a:active {
  transform: translateY(0);
}

footer .bg-especial-dark a:hover {
  color: var(--color-preto) !important;
}

.big {
  transform: scale(1.1) !important;
}

#menu_content {
  width: 12.5rem;
  top: 60px;
  right: 0;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-25px) skewY(10deg);
  filter: blur(5px);
  pointer-events: none;
}

#menu_content,
.bars,
.stripe,
.circle {
  transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0s;
}

#show_menu:checked~#menu_content {
  width: 12.5rem;
  transform: translateY(0) skewY(0);
  filter: blur(0);
  pointer-events: auto;
  opacity: 1;
}

#menu_content a:hover {
  background-color: var(--color-claro);
}

.toggle {
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  position: relative;
}

.bars {
  width: 1.2rem;
  height: 0.125rem;
  background-image: var(--gradiente-roxo);
  border-radius: 15px;
  position: absolute;
}

#barra_baixo {
  bottom: 10px;
}

#barra_cima {
  top: 10px;
}

#show_menu:checked+.toggle #barra_meio {
  transform: scaleX(0);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1) !important;
}

#show_menu:checked+.toggle #barra_cima {
  transform: translateY(6.5px) rotate(-45deg);
}

#show_menu:checked+.toggle #barra_baixo {
  transform: translateY(-6.5px) rotate(45deg);
}

#alteraTema {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.stripe {
  width: 0.45rem;
  height: 0.125rem;
  background-image: var(--gradiente-roxo);
  border-radius: 15px;
  position: absolute;
  z-index: 15;
}

/*: Cardiais*/
.light-mode #stripe1 {
  transform: translateX(-12px);
}

.light-mode #stripe2 {
  transform: translateX(12px);
}

.light-mode #stripe3 {
  transform: translateY(12px) rotate(90deg);
}

.light-mode #stripe4 {
  transform: translateY(-12px) rotate(90deg);
}

.light-mode :is(#stripe5, #stripe6, #stripe7, #stripe8) {
  width: 0.3rem;
}

/*: Diagonais*/
.light-mode #stripe5 {
  transform: translateX(9px) translateY(9px) rotate(45deg);
}

.light-mode #stripe6 {
  transform: translateX(-9px) translateY(9px) rotate(125deg);
}

.light-mode #stripe7 {
  transform: translateX(9px) translateY(-9px) rotate(125deg);
}

.light-mode #stripe8 {
  transform: translateX(-9px) translateY(-9px) rotate(45deg);
}

.circle {
  width: 20px;
  height: 20px;
  background-color: var(--color-indigo);
  border-radius: 100%;
  position: absolute;
  z-index: 15;
}

#circle1 {
  background-image: var(--gradiente-roxo);
}

#circle2 {
  background-color: var(--color-branco);
}

.light-mode #circle1 {
  transform: translateX(0px) scale(0.5);
}

.light-mode #circle2 {
  transform: translateX(0px) scale(0);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1) !important;
}

.dark-mode #circle1 {
  transform: translate(1px, -1px);
}

.dark-mode #circle2 {
  width: 20px;
  height: 20px;
  transform: translate(7px, -5px);
  z-index: 16;
}

/** BG - Personalizados */

.bg-escuro {
  background-color: var(--color-escuro);
}

.bg-branco {
  background-color: var(--color-branco) !important;
}

.bg-claro {
  background-color: var(--color-claro);
}

.bg-especial {
  background-image: var(--gradiente-roxo);
  border-image-slice: 100% 4;
  border-image-width: 3px;
}

.bg-principal {
  background-color: var(--color-azul);
}

.bg-cinzento {
  background-color: var(--color-cinzento);
}

.bg-indigo {
  background-color: var(--color-indigo);
}

.bg-roxo {
  background-color: var(--color-roxo);
}

.bg-verde {
  background-color: var(--color-verde);
}

.bg-vermelho {
  background-color: var(--color-vermelho);
}

.bg-azul {
  background-color: var(--color-azul);
}

.bg-amarelo {
  background-color: var(--color-amarelo);
}

.bg-dark {
  background-color: #151819 !important;
}

/** Texto - Personalizados */

.text-escuro {
  color: var(--color-escuro);
}

.text-cinzento {
  color: var(--color-cinzento);
}

.text-branco {
  color: var(--color-branco);
}

.text-claro {
  color: var(--color-claro);
}

.text-especial {
  width: fit-content;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  white-space: nowrap;
  color: transparent;
  background-color: #5B42F3;
  background-image: var(--gradiente-roxo);
}

.text-indigo {
  color: var(--color-indigo);
}

.text-roxo {
  color: var(--color-roxo);
}

.text-verde {
  color: var(--color-verde);
}

.text-azul {
  color: var(--color-azul);
}

.text-azul-claro {
  color: var(--color-azul-claro);
}

.text-amarelo {
  color: var(--color-amarelo);
}

.text-vermelho {
  color: var(--color-vermelho);
}

.text-justify {
  text-align: justify;
}

.text-underline {
  text-decoration: underline;
}

.letter-spacing {
  letter-spacing: 1px;
}

/** Tamanho de fontes - Personalizados */

.fs-bigger {
  font-size: 3.4em;
}

.fs-big {
  font-size: 3em;
}

.fs-small {
  font-size: small;
}

.fs-smaller {
  font-size: smaller;
}

.fs-x-small {
  font-size: x-small;
}

.fw-bolder {
  font-weight: 900;
}

/** Border - Personalizados */

.border-escuro {
  border-color: var(--color-escuro) !important;
}

.border-claro {
  border-color: var(--color-claro) !important;
}

/** Botões - Personalizados */

nav button {
  transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  border: none;
  width: 52px;
  height: 51px;
  z-index: 9999;
  pointer-events: all;
}

nav button:hover {
  transform: scale(1.1);
}

nav button:active {
  transform: scale(1.05);
}

nav button ul,
nav button ul h6 {
  font-size: large;
}

nav button ul,
nav button ul h6 {
  font-size: large;
}

.btn-claro {
  background-color: #ffffff;
  color: #151819;
  letter-spacing: 1px;
  font-weight: 100;
  overflow: hidden;
  transform: scale(1) !important;
  border-color: white !important;
}

.btn-claro i {
  transition: all 0s;
}

.btn-claro:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-claro:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #0f0f0f;
  border-radius: 50%;
  display: none;
  transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-claro:hover {
  background-color: #ffffff;
  color: white;
  border: 1px solid #0f0f0f;
}

.btn-claro:hover:before {
  top: -35%;
  background-color: #0f0f0f;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-claro:hover:after {
  top: -45%;
  background-color: #0f0f0f;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-escuro {
  background-color: var(--color-escuro);
  color: var(--color-claro);
}

.btn-escuro:hover {
  background-color: #131313;
  color: var(--color-claro);
}

.btn-escuro:active {
  background-color: #212528 !important;
  color: var(--color-claro) !important;
}

.btn-default {
  border: none;
  background: var(--gradiente-roxo);
  color: #f5f5f5 !important;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-weight: 600;
}

.btn-default:hover {
  background: var(--gradiente-roxo);
  -webkit-transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateY(-2px);
}

.btn-default:active {
  transform: translateY(0px);
}

.btn-default:hover::before {
  -webkit-animation: sh02 2s linear infinite;
  -moz-animation: sh02 2s linear infinite;
  animation: sh02 2s linear infinite;
}

.btn-default::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #f5f5f5;
  box-shadow: 0 0 50px 30px #f5f5f5;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  12.5% {
    opacity: .8;
  }

  25% {
    opacity: 0;
    left: 100%;
  }

  26% {
    opacity: 0;
    left: 0%;
  }
}

/** Texturas HeroPatterns */

.Pattern-claro {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23f5f5f5' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.Pattern-escuro {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%230f0f0f' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

/*: Organização nova */

#texto_inicio {
  text-align: center;
}

header h3 {
  margin: 0 auto;
  font-weight: 700;
}

header p {
  text-align: center;
  font-weight: 100;
  white-space: nowrap;
}

main {
  margin-bottom: 6rem;
  margin-top: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

section {
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  border-radius: 5px;
  color: var(--color-branco);
}

#projetos section:hover {
  transform: scale(1.025);
}

#projetos section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

#projetos section img {
  object-fit: cover;
}

#habilidades section {
  display: flex;
  align-items: center;
}

#habilidades section h3 {
  font-weight: 700;
  letter-spacing: 2px;
}

#habilidades section p {
  font-weight: 100;
}

#habilidades article {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#habilidades section img {
  object-fit: cover
}

/*: Meu próprio modal */

.modal-header button {
  color: #3e4249;
}

.modal-header button:hover,
.modal-header button:active {
  color: var(--color-escuro);
}

/** Media Querys */

.max-hd {
  max-width: 720px;
}

.translate-left {
  transform: translateX(0px);
}

/** A partir de SM */

@media screen and (min-width: 576px) {
  .fs-bigger {
    font-size: 4em;
  }

  #texto_inicio {
    text-align: center;
    font-size: 20px;
  }

  #blobEl {
    width: 225px;
  }

  .Pattern-claro #blob {
    opacity: 1;
  }

  #meuNome {
    font-size: 3.4rem;
  }
}

/** A partir de MD */
@media screen and (min-width: 768px) {
  #inicioContainer {
    overflow: visible;
  }

  #blobEl {
    width: 300px;
  }
}

/** A partir de LG */
@media screen and (min-width: 992px) {
  #habilidades>div {
    /* animation: skewing 1s infinite alternate-reverse; */
    transform: skewY(0);
  }
}

/** A partir de XL */
/* @media screen and (min-width: 1200px) {
} */

/** A partir de XXL */
/* @media screen and (min-width: 1400px) {
} */

.section {
  opacity: 0;
  transition: all 1s ease-out !important;
  filter: blur(10px);
  transform: skewY(1deg);
}

.section:not(footer) {
  transform: translateY(25px) skewY(1deg);
}

.section.deactive {
  transform: translateY(-25px);
  opacity: 0;
}

.section.active {
  transform: translateY(-5px) skewY(0deg) !important;
  filter: blur(0);
  opacity: 1;
}

header h3,
#meuNome {
  animation: floatingLetters 2s infinite ease-in-out;
}

#role_para_baixo {
  font-size: 2.5em;
  opacity: 1;
  transition: all 1s;
  cursor: pointer;
  position: absolute;
  top: 100%;
}

#role_para_baixo i,
#role_para_baixo span {
  transition: all .5s ease-in-out;
}

.pulse-down {
  animation: pulse_down 2s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fade-out {
  animation: fade-out 3s ease-in-out;
}

/** Keyframes */

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0 !important;
  }
}

@keyframes float {
  0% {
    top: 0;
  }

  50% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}

@keyframes pulse_down {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(25px);
    opacity: 0;
  }
}

@keyframes pulse_up {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.025);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.025);
  }
}

@keyframes floatingLetters {

  0%,
  100% {
    transform: translateY(0) scale(0.975);
  }

  50% {
    transform: translateY(-1px) scale(1);
  }
}

@keyframes background-pan {
  0% {
    background-position: 0% center;
  }

  100% {
    background-position: -200% center;
  }
}

@keyframes skewing {
  0% {
    transform: skewX(1deg);
  }

  100% {
    transform: skewX(-1deg);
  }
}

.shadow-sm-dark {
  box-shadow: 0 .125rem .25rem #22d3ee2a;
}

.shadow-dark {
  box-shadow: 0 .5rem 1rem #22d3ee2a;
}

.shadow-lg-dark {
  box-shadow: 0 1rem 3rem #22d3ee2a;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem #5b42f344 !important;
}

.shadow {
  box-shadow: 0 .5rem 1rem #5b42f344 !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem #5b42f344 !important;
}

.bg-especial-dark {
  border-image: var(--gradiente-roxo);
  border-image-slice: 100% 4;
  border-image-width: 3px;
  background-color: var(--color-branco);
}

#habilidades .bg-especial-dark:nth-child(even) {
  border-image: linear-gradient(-36deg, #3b82f6 0%, #22d3ee 50%, #86efac);
  border-image-slice: 100% 4;
  border-image-width: 3px;
}

.carousel-inner,
.carousel-item,
.carousel-item img {
  height: 100%;
}

.linha-horizontal {
  width: 100%;
  height: 1px;
  border: none;
  background: linear-gradient(90deg, #bbb5, var(--color-cinzento), #bbb5);
  background-size: 200%;
  animation: background-pan 3s linear infinite;
  opacity: 1;
}

.form__field,
.form__field:focus~.form__label,
.form__label {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
}

.form__field:focus .linha-horizontal {
  display: none;
}

.form__group .linha-horizontal {
  position: absolute;
  top: 71%;
  z-index: 3;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid transparent;
  outline: 0;
  font-weight: 700;
  font-size: 1rem;
  background: transparent;
  color: var(--color-escuro);
  z-index: 4;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}

.form__field:focus {
  padding-bottom: 6px;
  border-width: 2px;
  border-image: var(--gradiente-roxo);
  border-image-slice: 1;
}

.form__field:focus~.form__label {
  position: absolute;
  top: -1px;
  display: block;
  font-size: 1rem;
  background: var(--gradiente-roxo);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  width: fit-content;
  white-space: nowrap;
  color: var(--color-indigo);
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.form__label {
  position: absolute;
  top: -1px;
  display: block;
  font-size: 1rem;
  pointer-events: none;
  background: linear-gradient(90deg, var(--color-cinzento) 80%, #bbb5 90%, var(--color-cinzento));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  width: fit-content;
  white-space: nowrap;
  background-size: 200%;
  animation: background-pan 3s linear infinite;
  color: var(--color-cinzento);
}

.form__group:nth-of-type(3) .linha-horizontal {
  animation-delay: -50ms;
}

.form__group:nth-of-type(4) .linha-horizontal {
  animation-delay: -100ms;
}

.form__group:nth-of-type(5) .linha-horizontal {
  animation-delay: -150ms;
}

.form__group input:focus+.linha-horizontal {
  opacity: 0;
}

[href="mailto:luisfelipebrescia@gmail.com"]:hover {
  border-image: var(--gradiente-roxo);
  border-image-width: 1px;
  border-image-slice: 0 25% 100% 25%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--color-claro) inset !important;
}

#direitosAutorais {
  background: linear-gradient(90deg, #f5f5f5 80%, transparent 90%, #f5f5f5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  width: fit-content;
  white-space: nowrap;
  background-size: 200%;
  animation: background-pan 3s linear infinite;
  color: var(--color-branco);
}

#habilidades > div {
  gap: 1em;
  display: flex;
  flex-direction: column;
}

@keyframes rotate-blob {
  from {
    transform: translate(-50%, -50%) rotate(0deg) scaleY(1);
  }

  50% {
    transform: translate(-50%, -50%) rotate(180deg) scaleY(1.5);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg) scaleY(1);
  }
}